
@tailwind base;
@tailwind components;
@tailwind utilities;

.paginate {
    display: flex;
    align-items: center;
    justify-content: end;
}
.paginate li {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}